AI Chatbot Workflow.json
{
  "name": "AI Chatbot",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -288,
        112
      ],
      "id": "457debda-d12e-48bb-9eed-8dc60676ae3e",
      "name": "When chat message received",
      "webhookId": "8eb77605-9efc-46ad-8786-32df65c276e2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\n{{ $json.chatInput }} \n",
        "options": {
          "systemMessage": "You are a website Support agent.\n\nYou have access to the following tools:\n\n1. Send Email - Use this tool to send an email to the customer service team, including the name and email address of the person who reported an issue or complain.\n\n2. HTML tool RAG Question - Use this tool for general business FAQ queries."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -80,
        112
      ],
      "id": "dd256ab2-239e-4742-ae82-032cca5ca1cc",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -80,
        320
      ],
      "id": "f10c8256-6964-4722-b463-240f25158719",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "bvXKWWXLEf6jPXFe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ujalakiran13@gmail.com",
        "subject": "New Support Request",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        160,
        336
      ],
      "id": "d4b4b89f-9e8c-44f1-9a3f-8eb67977e5b9",
      "name": "Send a message in Gmail",
      "webhookId": "c7171039-4821-4390-932e-8aceb0da93c8",
      "credentials": {
        "gmailOAuth2": {
          "id": "EspBIFhg1pJ9BmBD",
          "name": "n8n cloud"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to query general query FAQ questions",
        "method": "POST",
        "url": "https://prod-1-data.ke.pinecone.io/assistant/chat/rag-assistant",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Pinecone-API-Version",
              "value": "2025-04"
            },
            {
              "name": "Api-Key",
              "value": "pcsk_2LZ2vw_JbYALeawn8UpiAWes9BCdhMAsD3DMNR1mAXxbotSYetj3EaizBaUwpcfFs4qfVe"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"={{$json[\"chatInput\"]}}\"\n    }\n  ],\n  \"model\": \"gpt-4o\",\n  \"stream\": false\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        336,
        320
      ],
      "id": "23fc6d39-977c-4ff2-afc6-6fef988e99ae",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -224,
        320
      ],
      "id": "053645b1-ada0-477b-8f1e-20b442867e6c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "l9ZSay4c2fFGfgL5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "59b3a2f2-8e4a-45a0-a487-e7a5a689b290",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "95d5e5881196887e334908de3f5cee60a4a159339730d5e7257e995dd8c9fe47"
  },
  "id": "t1Se2rUkATYvNMLk",
  "tags": []
}